################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/GEngine/Debug
/.vs
/GEngine/lib/GEngine.pdb
/GEngine/x64/Debug
/Gravi/.vs/Gravi/v15
/Gravi/x64/Debug
/RollAndRoll/.vs/RollAndRoll/v15/.suo
/RollAndRoll/.vs/RollAndRoll/v15/Browse.VC.db
/RollAndRoll/.vs/RollAndRoll/v15/Browse.VC.opendb
/RollAndRoll/Debug
/RollAndRoll/lib
/RollAndRoll/.vs/RollAndRoll/v15/ipch/AutoPCH
RollAndRoll/.vs/RollAndRoll/v15/Solution.VC.db
*.pdb
*.db-shm
*.db-wal
RollAndRoll/x64/Debug/RollAndRoll.Build.CppClean.log
*.log
*.obj
*.tlog
*.idb
GEngine/.vs/GEngine/v15/.suo
*.db
*.opendb
*.ipch
*.recipe
*.txt
*.ilk
GEngine/.vs/GEngine/v16/.suo
GEngine/.vs/GEngine/v17/.suo
GEngine/.vs/GEngine/project-colors.json
GEngine/GEngine.sdf
GEngine/GEngine.v11.suo
Gravi/.vs/Gravi/v14/.suo
GEngine/.vs/GEngine/v14/.suo
Gravi/Gravi.exe
Gravi/Gravi.exe
GEngine/.vs/GEngine/FileContentIndex/bfb158b5-8fa1-4d53-b6f7-987b6ad98585.vsidx
GEngine/.vs/GEngine/FileContentIndex/read.lock
GEngine/.vs/GEngine/FileContentIndex/35345251-2363-4e97-a7a3-6af41b38a6fb.vsidx
Gravi/.vs/Gravi/FileContentIndex/00b6ef6c-53ca-4eb0-840f-b5d69f7075f4.vsidx
Gravi/.vs/Gravi/FileContentIndex/read.lock
Gravi/.vs/Gravi/v17/.suo
Gravi/options.ini.bak
Gravi/options.ini.bak
GEngine/.vs/GEngine/FileContentIndex/861ac654-a18c-46e3-9fbf-c2679bdf2f93.vsidx
GEngine/.vs/GEngine/FileContentIndex/910942c3-9a7c-4db3-a79e-edcc83138ffb.vsidx
GEngine/.vs/GEngine/FileContentIndex/abe3aeb3-944f-4777-9832-3686e6f03971.vsidx
GEngine/.vs/GEngine/FileContentIndex/d5b2872a-8547-4c19-bb2a-e2bcb4420d8b.vsidx
