/GEngine/Debug
/.vs
/GEngine/lib/GEngine.pdb
/GEngine/x64/Debug
/Gravi/.vs/
/Gravi/x64/
/RollAndRoll/.vs/
/RollAndRoll/Debug
/RollAndRoll/lib
RollAndRoll/x64/
GEngine/.vs/
Gravi/Gravi.exe
Gravi/options.ini.bak
*.pdb
*.log
Pirates/x64/
*.idb
/GEngine/GEngine/x64
/Test/x64/Debug
